* {
  margin: 0;
  padding: 0;
}
body {
  background: #f4f4f4;
  min-width: 840px;
  min-height: 400px;
  padding: 20px;
  position: relative;
}
canvas {
  background: #fff;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px -200px;
}
.userActiveIdentifierBox {
  width: 200px;
}
.userActiveIdentifierBox p {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px 0;
}
#userActiveIdentifier {
  width: 200px;
  height: 200px;
}
